/*
TA SPØRSMÅL:
    - hvem skal være h1. begge
    -   skal RIGHT-BOX BARE VÆRE i media eller utenfor også. R
    - bruke <img> tag eller background image. R
    - kan jeg ha en tom <li></li> for å ha et mellomrom i en liste. hr
    - article riktig? ja
    - Logo filen er litt større en bilde i css. OK

    -   kan jeg lage boksene på hovedsiden som bare diver uten grid. TJA FLEX
    -   skal footer ligge nederst i forhold til css struktur og at media må i bunden men tags skal på toppen. TJA
    -   kan jeg overskrive en verdi hvis den er inne i en @media quarry JA tror det
    -   navbar og nav-logo er jævlig like... classe
    -   Kan jeg bruke en tom <span> tag for å gjøre div til link
    -   Kan jeg centrere bottom box divene sånn
    -   background-color på nav?
*/

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

/* adds a line under all h2 tags*/
h2 {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
    text-decoration-color: rgb(0, 132, 255);
}

hr {
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

/* centers the element horizontally and sets its height 
depending on the browser windows height*/
.heading-container {
    width: 50vw;
    transform: translate(0, 20vh);
    margin: auto;

    text-align: center;
    padding: 10px;
    background-color: rgb(0, 132, 255);
}

/*----NAVBAR----*/
/*hides the <input> element since its functionality 
is borrowed by .hambuger-toggle-container*/
#burger-toggle {
    display: none;
}

/*makes its child elements display evenely in a horizontal flex*/
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    padding: 10px;
    background-color: rgb(0, 132, 255);
}

.default-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hamburger-list {
    flex-direction: column;
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding-left: 22vw;
}

.hamburger-list li {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.85);
}

.default-list a, .hamburger-list a {
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 10px;
    color: black;
}

.default-list a:hover, .hamburger-list a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.hamburger-list-container {
    display: none;
    position: absolute;
    z-index: 1;
}

.hamburger-toggle-container {
    display: none;
}

@media (max-width:785px) {
    .hamburger-toggle-container {
        display: block;
    }

    .default-list {
        display: none;
    }

    .hamburger-toggle-container {
        cursor: pointer;
    }

    #burger-toggle:checked~.hamburger-list-container {
        display: block;
    }
}

/* indikerer hvilken side du er inne på i nav baren*/

.active {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

/* parallax effekten er hentet fra W3Schools https://www.w3schools.com/howto/howto_css_parallax.asp */

.parallax {
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #parallax-index-bilde {
    /* The image used */
    background-image: url(../media/Oslomet-bygg-p32.webp);
  }

  #parallax-bibliotek-bilde {
    /* The image used */
    background-image: url(../media/oslomet-bibliotek-p35-lokaler.webp);
  }
/*--------------------------------*/

.grid-container>div,
article {
    padding: 30px;
}

#references-list li {
    padding: 10px;
}

.img-inside-box {
    height: 35vh;
}

.img-inside-box:hover {
    height: 40vh;
}

/*styles the boxes*/
.bottom-icon {
    display: flex;
    position: relative;
    min-width: 150px;
    height: 150px;
    margin: 10px;    

    background-color: rgb(231, 231, 231);
}

/* adds a shadow and runs a 1sec long animation once. */
.bottom-icon:hover {
    box-shadow: 0px 0px 100px rgb(58, 58, 58);

    animation: rotate 1s;
    animation-iteration-count: 1;
}
/* specifies all the positions and rotations of the animation
(the similiar values are combined to take less space and easier to adjust)
*/
@keyframes rotate {
    0%, 100% { transform: translate(0px, -3px) rotate(-1deg); }
    20%, 40%, 60%, 80% { transform: translate(-4px, -1px) rotate(1deg); }
    30%, 50%, 70%, 90% { transform: translate(4px, 3px) rotate(0deg); }
}

/* centers the element and makes it the same size as its parent. */
.bottom-box a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    text-align: center;
    line-height: 15;
    
    color: black;
    text-decoration: none;
}

/*centers the i tags inside of .bottom box horizontally*/
.bottom-box i {
    margin: auto; /*centers the element*/
    color: #0084ff;
    font-size: 75px;

    padding-bottom: 40px;
}
.bottom-box i:hover {
    font-size: 80px;
}

/* main-grid */
.top-box {
    grid-column: 1/5;
    grid-row: 1/2;

    background-color: rgb(0, 132, 255);
    height: 80vh;
    min-height: 500px;
}

.left-box {
    grid-column: 1/3;
    grid-row: 2/3;

    background-color: white;
    height: 40vh;
    width: 50vw;

    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* specifies article-box's position in the grid and forces 
space between the edges and the content of the box*/
.article-box {
    grid-column: 1/5;
    grid-row: 3/4;

    background-color: rgb(231, 231, 231);
    padding-left: 15vw;
    padding-right: 15vw;
}

/*----bottom boxes----*/
/*specifies bottom-box's grid positions and makes its child 
elements display in a horizontal flex box*/
.bottom-box {
    grid-column: 1/5;
    grid-row: 4/5;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

/*Grid adjustements when page is less than 800px*/
@media (max-width: 800px) {
    .right-box {
        grid-column: 3/5;
        grid-row: 2/3;

        background-color: white;
    }
}

@media (min-width: 800px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: minmax(100px, auto);
        gap: 0px;
        width: 100%;
        margin: 0 auto;
    }
}

/* FOOTER */

footer {
    background-color: rgb(0, 132, 255);
}

footer li {
    list-style-type: none;
    padding: 14px;
}

footer a {
    color: black;
}

.footer-left {
    grid-column: 1/2;
    grid-row: 3;

    display: table-cell;
}

@media (min-width: 800px) {

    .footer-middle {
        grid-column: 2/3;
        grid-row: 3;

        display: table-cell;
    }

    .footer-right {
        grid-column: 3/4;
        grid-row: 3;

        display: table-cell;
    }

}

/*Defines the footer grid */

@media (min-width: 800px) {
    footer {
        display: grid;
        grid-template-columns: minmax(200px, 20vw) minmax(200px, 20vw) minmax(200px, 20vw) auto;
        width: 100%;
        display: table;
        table-layout: fixed;
        border-spacing: 20px;
    }
}