/*
Color palette

Hoved svart
    rgba(rgba(68,76,78,255)

Rød
    rgba(228,97,86,255)

Gul 
    rgba(232,155,19,255)

Grå
    rgba(119,128,133,255)
*/

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 0;
    font-size: 30px;
  }
  
  .main-box {
    grid-column: 1/4;
    grid-row: 1/3;
  }