/*
Color palette

Hoved svart
    rgba(rgba(68,76,78,255)

Rød
    rgba(228,97,86,255)

Gul 
    rgba(232,155,19,255)

Grå
    rgba(119,128,133,255)
*/

body {
    margin: 0px;
}

p, a, h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
    text-decoration-color: rgb(99, 208, 230);
}

/* nav-bar*/

nav  {
    position: absolute;
    width: 100%;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    float: none;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-logo {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    float: none;
    position: absolute;
    top: 30px;
    left: 10%;
    transform: translate(-50%, -50%);
}
.nav-logo img {
    height: 70px;
}

.navbar li {
    float: left;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 1.3rem;
}

nav a:hover {
    color: rgb(46, 46, 46);
}

/* main-grid */

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 0px;
    width: 100%;
    margin: 0 auto;
}

.grid-container > div{
    padding: 50px;
}

.main-box {
    grid-column: 1/5;
    grid-row: 1/1;

    background-color: rgb(0, 162, 194);
    color: white;
    height: 90vh;
}

.left-box {
    grid-column: 1/3;
    grid-row: 2/2;

    background-color: white;
    height: 30vh;
}

.right-box {
    grid-column: 3/5;
    grid-row: 2/2;

    background-color: white;
    height: 30vh;
}

.wide-box {
    grid-column: 1/5;
    grid-row: 3/3;

    background-color: grey;
    height: 100vh;
}

.img-inside-box {
    height: 100%;
}